h1 {
    font-size: 2rem;
}
.main {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-card {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    border: 2px solid rgb(189, 189, 189);
    position: relative;
}
.main-background {
    height: 100px;
    width: 100%;
    background-color: rgb(34, 179, 179);
}
.main-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 1rem;
    padding-left: 2rem;
}
.main-description h1{
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.main-user-icon {
    position: absolute;
    top: 9%;
    width: 100px;
    height: 100px;
    border: 2px solid rgb(189, 189, 189);
    border-radius: 50%;
}
.main-map, .main-edit {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 0.6rem 0 0.6rem 0;
}
.main-icon {
    width: 6%;
}
.main-gear {
    color: blue;
    text-decoration: underline;
}